
/*
 * @author ZEROUAL AYMENE <aymenezeroual@gmail.com>
 */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeee;
    margin: 0;
}

.topbar-wraper {
    background-color: #ca3e47;
    position: fixed;
    box-shadow: 0px 0px 6px 0px grey;
    height: 75px;
    width: 100%;
    top: 0;
}

.topbar-wraper img {
    float: right;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    margin-top: 6px;
}

.botbar-wraper {
    background-color: #ca3e47;
    position: fixed;
    box-shadow: 0px 0px 6px 0px grey;
    height: 100px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.botbar-wraper p {
    color: white;
    margin-top: 35px;
}

.lang-selec {
    position: absolute;
    top: 6px;
    left: 320px;
    display: inline-block;
    
}

.lang-selec select {
    background-color: #f5f5f5;
    border: 3px solid #2f4b7c;
    border-radius: 7px;
    display: inline-block;
   
    height: 50px;
    font-size: 25px;
    color: #0b1b38;
    padding: 5px;
    box-shadow: 0px 0px 8px -2px grey;

    vertical-align: middle;
}

.sidemenu-wraper {
    background-color: #2f4b7c;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    float: left;
    box-shadow: 1px 7px 6px 0px grey;
}

.sidemenu-wraper .sidemenu-title {
    background-color: #253e6893;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;;
}

.sidemenu-wraper .sidemenu-title h1 {
    font-size: 25px;
    color: white;
    margin: 0;
}

.sidemenu-wraper a {
    text-decoration: none;
    display: table;
    color: #dbdbdb;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
    width: 100%;
}

.sidemenu-wraper .sidemenu-btn-icon {
    display: table-cell;
    width: 100px;
}

.sidemenu-wraper .sidemenu-btn-label {
    display: table-cell;
}


.sidemenu-wraper a img {
    vertical-align: middle;
    width: 40px;
    padding: 20px;
}

.sidemenu-wraper a:hover {
    color: #313131;
    background-color: #d6d6d6;
}

.sidemenu-wraper hr {
    background-color: #eeeeee;
    margin: 0;
    border-width: 0;
    height: 2px;
}

.content-wraper {
    margin-top: 75px;
    margin-left: 300px;
    padding: 10px;
}

.btn {
    color : white;
    background-color: #2f4b7c;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    box-shadow: 0px 0px 6px 0px grey;
    transition-duration: 0.35s;
}

.btn:hover {
    background-color: #e7e7e7; 
    color: black;
}

.btn:disabled {
    background-color: #e7e7e7; 
    color: black;
}
.btns-wraper {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.input-field {
    background-color: #f5f5f5;
    border: 3px solid #2f4b7c;
    border-radius: 7px;
    display: inline-block;
    width: 300px;
    height: 30px;
    font-size: 25px;
    color: #0b1b38;
    padding: 5px;
    box-shadow: 0px 0px 8px -2px grey;
    transition-duration: 0.35s;
    margin: 15px;
}

.input-field:focus {
    background-color: white;
}

.select-field {
    height: 50px;
}

label {
    font-size: 25px;
    font-weight: bold;
    color: #213556;
}

.container {
    background-color: white;
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -2px grey;
}

table {
    width : 100%;
    margin: auto;
    box-shadow: 0px 0px 6px -2px grey;
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th , td {
    height: 50px;
    padding: 10px;
}

th {
    color: white;
    background-color: #2f4b7c;
}

.table-small {
    width: 50%;
}

.tabel-td-pending{
    background-color: rgba(247, 202, 24, 0.5);
}

.tabel-td-danger {
    background-color: rgba(240, 52, 52, 0.5);
}

.tabel-td-banned {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.popup-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.center {
    display: inline-block;
    position: relative;
    top: 10%;
    padding-left: 80px;
    padding-right: 80px;
}

h1 {
    color: #213556;
    font-weight: bolder;
}

.notfication-container {
    display: table;
    margin: 40px auto 20px;
    width: 500px;
    color: #fff;
    box-shadow: 0px 0px 10px 0px grey;
}

.notfication-container .notif-msg {
    display: table-cell;
    vertical-align: middle;
    font-size: px;
}

.notfication-container .notif-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    padding: 20px;
    text-align: center;
}

.notfication-container .notif-icon img{
    width: 70px;
    height: 70px;
    margin: auto;
}

.notif-green {
    background-color:#27AE60;
}

.notif-green .notif-icon img{
    content: url("check.png");

}

.notif-red {
    background-color:#C0392B;
}

.notif-red .notif-icon img{
    content: url("close.png");

}

.page-index {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #2f4b7c;
}
